<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="images/favicon2.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
        <v-navigation-drawer
            v-model="drawer"
            app
            color="#00a8e1"
            dark
        >
            <v-list dense>
                <v-list-item link href="index.html">
                    <v-list-item-action>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link href="gethelp.html">
                    <v-list-item-action>
                        <v-icon>fas fa-medkit</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Get Help</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link href="https://www.covid19inwi.com/">
                    <v-list-item-action>
                        <v-icon>fas fa-info-circle</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Resources</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
<!--                <v-list-item link href="faq.html">
                    <v-list-item-action>
                        <v-icon>far fa-question-circle</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>FAQs</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>-->
                <v-list-item link href="contact.html">
                    <v-list-item-action>
                        <v-icon>far fa-envelope</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Contact Us</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>		
        <v-app-bar
            app
            color="#f7a800"
            dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>We Count COVID-19</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn large color="#0d2240" href="https://milwaukee.qualtrics.com/jfe/form/SV_3F7CQTkIgR3zugl">To the survey / A la encuesta</v-btn>
        </v-app-bar>
		<v-content color="#0d2240">
			<v-card
                class="mx-auto"
                outlined
                color="#0d2240"
                height="100%"
            >
				<v-container>
				<v-col>
					<v-card color="white" class="pa-7 mx-auto" width="600">
						<h2>Fill out the form below to contact us!</h2>
						<v-form ref="form"
						lazy-validation
						
						>
							<v-text-field
								  v-model="firstname"
								  label="First Name"
								  required
								  ></v-text-field>
							<v-text-field
								  v-model="lastname"
								  label="Last Name"
								  required
								  ></v-text-field>
							<v-text-field
                                v-model="email"
                                label="Email Address"
                                required
                                ></v-text-field>
							<v-text-field
							  v-model="emailSubject"
							  label="Message Subject"
							  required
							  ></v-text-field>
							<v-textarea
								solo
								v-model="emailBody"
								label="Enter your message here"
								rows="8"
								></v-textarea>
							<br>
							<v-card-actions>
                                <v-btn color="#00a8e1" dark>Submit</v-btn>
                            </v-card-actions>
						</v-form>
					</v-card>
				</v-col>
			</v-container>
			</v-card>
		</v-content>
        <v-footer
            color="#f7a800"
			height="auto"
            app
        >
			<v-row align="center" justify="center">
			 	<v-col cols="12" md="4" class="text-center"><img height="32px" float="right" src="images/uwm_cropped.png"></v-col>
				<v-col cols="12" md="4" class="text-center">2020</v-col>
				<v-col cols="12" md="4" class="text-center"><img height="34px" float="right" src="images/blue-cfm-logo.png"></v-col>
			</v-row>
           
        </v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      props: {
          source: String,
      },
      data: () => ({
          drawer: false,
		  firstname: '',
		  lastname: '',
		  email:'',
		  emailBody: '',
		  emailSubject: '',
      })
    })
  </script>
</body>
</html>